body {
    background-color: #020202;
    color: white;
    font-family: Alegreya, Bree; 
    margin: 0;
    padding: 0;

}
header {
    background-color: #B21127;
    padding: 20px;
    
}
header > img  {
    width: 20%;
    float: left;
    }

nav {
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li{
    display: inline-block;
}

main {
}

section {
}

div {

}

footer {
    background-color: #B21127;
    color: white;
    padding: 10px 20px;
}